*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Baloo Bhai 2', cursive;
}
body{
    background-color: black;
    color: white;
    overflow: hidden;
}
.Themes{
    text-align: center;
}

#output4,
#output5{
    font-size:  400%;
}
button{
    margin-top: 0%;
}
#intro{
    /* border: 1px solid red; */
    background-color: black;
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 99;
    visibility:visible;
    /* align-items: center; */
    justify-content: center;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}
#intro h1{
    margin-bottom: 1rem;
}
#intro h1 span{
    color: rgb(216, 71, 100);
}
#intro h3{
    margin-left: 1%;
    color: #c31d9f;
}

#intro h3 span{
    color: #b637f1;
}
#intro div{
    /* border: 1px solid greenyellow; */
    height: 10vh;
}
#intro div button{
    width: 8%;
    font-size: 2rem;
   position: relative;
   margin: 3%;
   left: 1%;
   /* top: 2%; */
   font-weight: 999;
   border-radius: 10px;
   border: none;
   color: #fff;
   background-color: #cfcf11;
   transition: all 0.5s ease;
   cursor: pointer;
}

#intro div button:hover{
    font-size: 2.5rem;
    width: 10%;
    color: #cfcf11;
    background-color: #fff;
}
#choices{
    /* border: 1px solid blue; */
    width: 100%;
    height: 30vh;
    position: absolute;
    bottom: 3%;
    z-index: 12;
    /* visibility: hidden; */
}
#div-btn{
    /* border: 1px solid white; */
    height: 10vh;
}
#btn{
    font-size: 1.5rem;
    font-weight: 700;
    width: 5%;
    margin: 1.5%;
    border-radius: 14px;
    border: none;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    color: #fff;
    background-color: #cfcf11;
    letter-spacing: 2.5px;
    
}
#btn:hover{
    font-size: 2rem;
    width: 9%;
    font-weight: 900;
    color: #cfcf11;
    background-color: #fff;
    filter: contrast(98%);
    
}
.radios{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: 0% auto;
    height: 80%;
}
.press{
    /* border: 1px solid rgb(141, 205, 233); */
    height: 70%;
    width: 25%;
    transition: all 0.2s ease;
    border-radius: 10px;
}

.press:hover{
    height: 80%;
    width: 30%;
    filter: saturate(100);
}

#rock{
    background: url("images/rock2.png") no-repeat center;
    background-size: 75%;
    background-color: #7a0909;
}

#paper{
    background: url("images/paper2.png") no-repeat center;
    background-size: 65%;
    background-color: #050081;
}

#scissor{
    background: url("images/scissor2.png") no-repeat center;
    background-size: 65%;
    background-color: #137e19;
}

#outputs::before{

    background: url("images/vs.jpg") no-repeat center center;
    content: "";
    position: absolute;
    width: 100%;
    height: 68vh;
    z-index: -1;
    background-size: 66%;
    opacity: 0.3;
}
#outputs{
    /* border: 1px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 68vh;
    position: absolute;
    top: 1%;
    z-index: 12;
    visibility: visible;
}

/* #outputs h3,
#outputs h2,
#outputs span{
    border: 1px solid red;
    width: 100%;
    
} */


#output1{
    /* border: 1px solid rgb(21, 201, 214); */
    /* margin: 0.3% 0%; */
    width: 50%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#output1 h1{
    position: absolute;
    top: 29.7%;
    left: 33%;
}
#img-stack-1{
    /* border: 1px solid royalblue; */
    width: 10%;
    height: 10vh;
}
#img-stack-1 div{
    /* border: 1px solid ; */
    position: absolute;
    top: 40%;
    right: 60%;
    width: 10%;
    border-radius: 14px;
    visibility: hidden;
}
#p1{
    display: block;
    width: 20%;
    height: 25vh;
    background-color: #050081;
    z-index: 100;
    background: url("images/paper.png") no-repeat center;
    background-size: 100%;
    background-color: #050081;
    /* border-radius: 10px; */
}
#r1{
    display: block;
    background-color: #7a0909;
    width: 20%;
    height: 25vh;
    z-index: 100;
    background: url("images/rock.png") no-repeat center;
    background-size: 100%;
    background-color: #7a0909;
    /* border-radius: 10px; */
}
#s1{
    display: block;
    background-color: #137e19;
    width: 20%;
    height: 25vh;
    z-index: 100;
    background: url("images/scissor.png") no-repeat center;
    background-size: 100%;
    background-color: #137e19;
    /* border-radius: 10px; */
}
#output2{
    /* border: 1px solid green; */
    position: absolute;
    z-index: 0;
    visibility: visible;
    bottom: 10%;
    right: 25%;
    order: 2;
    height: 5vh;
    font-size: 200%;
    font-weight: 900;
    /* margin: 0.3% 0%; */
}
#output3{
    /* border: 1px solid fuchsia; */
    position: relative;
    width: 50%;
    /* margin: 0.3% 0%; */
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#output3 h1{
    position:absolute;
    top:9%;
    right: 61%;
}
#img-stack-2{
    /* border: 1px solid royalblue; */
    /* height: 10vh; */
    width: 10%;
    height: 10vh;
}

#img-stack-2 div{
    /* border: 1px solid ; */
    position: absolute;
    top: 25%;
    left: 20%;
    border-radius: 14px;
    /* width: 100%; */
    -webkit-transform:scaleY(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    visibility: hidden;
}

#p2{
    display: block;
    width: 20%;
    height: 25vh;
    background-color: #050081;
    z-index: 100;
    background: url("images/paper.png") no-repeat center;
    background-size: 100%;
    background-color: #050081;
    /* border-radius: 10px; */
}

#r2{
    display: block;
    background-color: #7a0909;
    width: 20%;
    height: 25vh;
    z-index: 100;
    background: url("images/rock.png") no-repeat center;
    background-size: 100%;
    background-color: #7a0909;
    /* border-radius: 10px; */
}

#s2{
    display: block;
    background-color: #137e19;
    width: 20%;
    height: 25vh;
    z-index: 100;
    background: url("images/scissor.png") no-repeat center;
    background-size: 100%;
    background-color: #137e19;
    /* border-radius: 10px; */
}


#output4{
    /* border: 1px solid yellow; */
    height: 10vh;
    margin: 0%;
    font-size: 300%;
    width: 100%;
    position: relative;
    right:12%;
    top: 5%;
}

#output5{
    border: 1px solid rebeccapurple;
    font-size: 300%;
    z-index: 0;
    width: 50%;
    height: 10vh;
    position:relative;
    top:48vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    animation-name: result;
    animation-duration: 7s;
    animation-iteration-count:0;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
}

@keyframes result {
   0%{
    left: -100%;
    color: red;
   }
   35%{
       left: 25%;
       color: orange;

   }
   50%{
        left: 25%;
        color: yellow;
   }
   65%{
        left: 25%;
        color: yellowgreen;
   }
   100%{
        left: 100%;
        color: aqua;
   }

    from{
        left: -100%;
    }
    to{ 
        left: 100%;
    }
}

input[type=radio]{
    position: relative;
    top: 45%;
    left: 0%;
    -webkit-transform: scale(14);
    transform: scale(14);
    opacity: 0;
    cursor: pointer;
}

input[type=radio]:hover{
    -webkit-transform: scale(15);
    transform: scale(15);
}

#blank{
    /* border: 1px solid greenyellow; */
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    z-index: 22;
    background-color: black;
    visibility: visible;
    transition: all 0.3s ease;
}
